<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TIENDA DE MUEBLES</h1>
    <div>
        <h1>Tienda</h1>
        <h2>Solicitar lista de productos disponibles</h2>
        <form action="{{ url_for('obtener_tienda') }}" method="post" autocomplete="off">
            <input type="submit" value="Tienda">
        </form>     
    </div>    
    <div>
        <h1>Tienda</h1>
        <h2>Solicitar lista de productos disponibles</h2>
        <form action="{{ url_for('agregar_nuevo_producto') }}" method="post" autocomplete="off">
            <input type="submit" value="Añadir">
        </form>     
    </div>    
</body>
</html>